<div class="navbar">
  <div class="partOne">
    <svg
      (click)="onMenuClick()"
      style="cursor: pointer"
      width="25px"
      height="25px"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g
        id="SVGRepo_tracerCarrier"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></g>
      <g id="SVGRepo_iconCarrier">
        <path
          d="M4 6H20M4 12H20M4 18H20"
          stroke="#6a7282"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
      </g>
    </svg>
    <h2 style="color: #233b62; font-weight: bold; font-size: large">
      Dashboard
    </h2>
  </div>
  <div class="partTwo">
    <div class="relative">
      <div (click)="toggleNotifications()" class="cursor-pointer relative">
        <svg
          width="25px"
          height="25px"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <!-- Your notification bell icon -->
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M12.02 2.90991C8.70997 2.90991 6.01997 5.59991 6.01997 8.90991V11.7999C6.01997 12.4099 5.75997 13.3399 5.44997 13.8599L4.29997 15.7699C3.58997 16.9499 4.07997 18.2599 5.37997 18.6999C9.68997 20.1399 14.34 20.1399 18.65 18.6999C19.86 18.2999 20.39 16.8699 19.73 15.7699L18.58 13.8599C18.28 13.3399 18.02 12.4099 18.02 11.7999V8.90991C18.02 5.60991 15.32 2.90991 12.02 2.90991Z"
              stroke="#6a7282"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
            ></path>
            <path
              d="M13.87 3.19994C13.56 3.10994 13.24 3.03994 12.91 2.99994C11.95 2.87994 11.03 2.94994 10.17 3.19994C10.46 2.45994 11.18 1.93994 12.02 1.93994C12.86 1.93994 13.58 2.45994 13.87 3.19994Z"
              stroke="#6a7282"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M15.02 19.0601C15.02 20.7101 13.67 22.0601 12.02 22.0601C11.2 22.0601 10.44 21.7201 9.90002 21.1801C9.36002 20.6401 9.02002 19.8801 9.02002 19.0601"
              stroke="#6a7282"
              stroke-width="1.5"
              stroke-miterlimit="10"
            ></path>
          </g>
        </svg>
      
        <!-- Red dot -->
        <span
          class="absolute top-0 right-0 block h-2 w-2 rounded-full bg-red-500 ring-2 ring-white"
        ></span>
      </div>
      <div *ngIf="showNotifications" class="absolute right-0 mt-2 w-96 bg-white shadow-lg rounded-lg z-50">
        <div class="p-4 border-b flex justify-between items-center">
          <h3 class="font-bold text-lg">Notifications</h3>
          <a class="text-sm text-blue-600 cursor-pointer hover:underline">Mark all read</a>
        </div>
    
        <div class="max-h-96 overflow-y-auto">
          <div *ngFor="let n of notifications" [ngClass]="{ 'bg-blue-50': !n.read }" class="px-4 py-3 border-b hover:bg-gray-50">
            <div class="flex items-start justify-between">
              <div>
                <p class="font-semibold text-sm">
                  <span [ngSwitch]="n.type">
                    <span *ngSwitchCase="'success'" class="text-green-600">✔</span>
                    <span *ngSwitchCase="'info'" class="text-blue-600">🕒</span>
                    <span *ngSwitchCase="'warning'" class="text-yellow-600">⚠️</span>
                  </span>
                  {{ n.title }}
                </p>
                <p class="text-sm text-gray-600 mt-1">{{ n.message }}</p>
                <p class="text-xs text-gray-400 mt-1">{{ n.time }}</p>
              </div>
              <span *ngIf="!n.read" class="h-2 w-2 rounded-full bg-blue-600 mt-1.5"></span>
            </div>
          </div>
        </div>
      </div>
      </div>
      
    <div class="h-full w-px bg-gray-300 mx-2"></div>

    <div class="flex flex-row justify-between items-center gap-1.5">
      <div class="iconProfile">
        <svg
        width ="30px"
        height="30px"
          viewBox="0 0 20 20"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          fill="#000000"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <title>profile [#1335]</title>
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g
              id="Page-1"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
            >
              <g
                id="Dribbble-Light-Preview"
                transform="translate(-420.000000, -2159.000000)"
                fill="#ffffff"
              >
                <g id="icons" transform="translate(56.000000, 160.000000)">
                  <path
                    d="M374,2009 C371.794,2009 370,2007.206 370,2005 C370,2002.794 371.794,2001 374,2001 C376.206,2001 378,2002.794 378,2005 C378,2007.206 376.206,2009 374,2009 M377.758,2009.673 C379.124,2008.574 380,2006.89 380,2005 C380,2001.686 377.314,1999 374,1999 C370.686,1999 368,2001.686 368,2005 C368,2006.89 368.876,2008.574 370.242,2009.673 C366.583,2011.048 364,2014.445 364,2019 L366,2019 C366,2014 369.589,2011 374,2011 C378.411,2011 382,2014 382,2019 L384,2019 C384,2014.445 381.417,2011.048 377.758,2009.673"
                    id="profile-[#1335]"
                  ></path>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </div>
      <div class="flex flex-col justify-center ; items-center">
        <h2 style="color: #233b62; font-weight: bold; font-size: small;">User Name</h2>
        <p style="font-size: small; color: rgb(155, 151, 151)">
            Employee
          </p>
      </div>
    </div>
  </div>
</div>
